<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>La Vie en Rose</title>
<meta name="description" content="La vie en rose">
<meta name="keywords"
    content="la vie en rose">

<link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/styles-merged.css">
<link rel="stylesheet" href="stylesheets/style.min.css">
<link rel="stylesheet" href="stylesheets/custom.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.5/viewer.css"
    integrity="sha512-c7kgo7PyRiLnl7mPdTDaH0dUhJMpij4aXRMOHmXaFCu96jInpKc8sZ2U6lby3+mOpLSSlAndRtH6dIonO9qVEQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />