<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLongTitle"> </h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:black">&times;</span>
                </button>
            </div>
            <div class="modal-body justify-content-center">
                <model-viewer poster="/images/Spinner-1s-554px.gif" src="/images/Scaniverse2022-08-20152832.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls
                    poster="poster.webp" shadow-intensity="1">
                    <div class="progress-bar hide" slot="progress-bar">
                        <div class="update-bar"></div>
                    </div>
                    <button slot="ar-button" id="ar-button">
                        View in your space
                    </button>
                    <div id="ar-prompt">
                        <img src="https://modelviewer.dev/shared-assets/icons/hand.png">
                    </div>
                </model-viewer>
                <!-- Use it like any other HTML element -->
                <!-- <img src="/images/35996912.jpg" alt=""  height="700" width="100%"> -->
               
                <!-- <iframe src= "<%= room.images.Image3d %>" height="700" width="100%" marginheight="40"
                    frameborder="0"></iframe> -->
            </div>
        </div>
    </div>
</div>